{% extends 'parent.html' %}

{% block content %}
    <h3>List of trainees</h3>
    <table border="1" cellpadding="5" cellspacing="0" width="100%" text-align="center">
        <tr style="background-color: #f2f2f2;">
            <th>Name</th>
            <th>Age</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
        {% for trainee in trainees %}
            <tr style="background-color: #fff;">
                <td>{{ trainee.name }}</td>
                <td>{{ trainee.age }}</td>
                <td>
                    <ul>
                        {% for course in trainee.course.all %}
                            <li>{{ course.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div style="display: flex; gap: 10px;width: 100% ; justify-content: center;">
                        <a href="{% url 'trainee_details' trainee.id %}" class="bg-blue-500 text-white px-4 py-2" >Details</a> 
                        <a href="{% url 'trainee_update' trainee.id %}" class="bg-yellow-500 text-white px-4 py-2" > Update</a> 
                        <a href="{% url 'trainee_delete' trainee.id %}" class="bg-red-500 text-white px-4 py-2">Delete</a>
                    </div>
                    
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    
    <a href="{% url 'trainee_add' %}" style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Add New Trainee</a>
    <br><br>
    <h2>deleted trainees :-</h2>
    {%for t in deleted_trainees%}
    <p style="color:red">{{t.name}}(deleted)</p>
    {% endfor %}
{% endblock %}