{% extends 'parent.html' %}

{% block content %}
    <h3 style="text-align: center;"> Update trainee</h3>
    <div style="background-color: aliceblue; border-radius: 15px; border: 1px solid #ccc; padding: 20px; width: 50%; margin: auto;">
        <form method="post" style="width: 100%;">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ trainee.name }}"><br><br>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{ trainee.age }}"><br><br>
            <label for="course">Courses:</label><br><br>
            <select id="course" name="course" multiple>
                {% for course in courses %}
                    <option value="{{ course.id }}"

                    >
                        {{ course.name }}
                    </option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="Update Trainee" style="background-color: yellowgreen; color: white; border: none; padding: 10px 15px; cursor: pointer; border-radius: 5px;">
        </form>
    </div>
        
        

{% endblock %}